.discussion {
    @include h_w($h: calc(100vh - rem-calc(180)), $w: 0%);
    border: rem-calc(1) solid rgba($color: $black, $alpha: 0.2);
    border-radius: rem-calc(5);
    padding: rem-calc(5);
    position: relative;

    .user_icon_name_close_icon_container {
        @include df($ai: center, $jc: space-between);
        padding: rem-calc(5) 0;
        border-bottom: rem-calc(1) solid rgba($color: $black, $alpha: 0.2);

        .user_icon_name {
            @include df($ai: center);

            .user_icon {
                font-size: rem-calc(25);
                color: $sb-ic-txt-color;
            }

            .name {
                margin-left: rem-calc(5);
                color: $sb-ic-txt-color;
            }
        }

        .close_icon {
            font-size: rem-calc(25);
            cursor: pointer;
            color: $sb-ic-txt-color;
        }
    }

    .discussion_container {
        position: relative;
        padding: rem-calc(5) 0;
        height: calc(100% - rem-calc(40));

        .message_container {
            height: calc(100% - rem-calc(40));
            overflow-y: auto;

            .message {
                background: rgba($color: $sb-ic-txt-color, $alpha: 0.9);
                width: 90%;
                padding: rem-calc(5);
                border-radius: rem-calc(5);
                margin-bottom: rem-calc(5);

                .msg {
                    font-size: rem-calc(14);
                    color: $white;
                }

                .hour {
                    text-align: right;
                    font-size: rem-calc(14);
                    color: $white;
                }

                &.own {
                    background: rgba($color: $success-color, $alpha: 0.9);
                    margin-left: 10%;

                    .hour {
                        color: $black;
                    }
                }
            }
        }

        form.send_response {
            @include pos-abs-b-l();
            @include h-w($w: 100%);

            input {
                @include h-w(rem-calc(40), 100%);
                border-radius: rem-calc(8);
                border: rem-calc(1) solid $light;
                font-size: rem-calc(16);
                padding-left: rem-calc(15);
                padding-right: rem-calc(45);

                &:focus {
                    outline: none;
                    border: rem-calc(1) solid $sb-active;

                    &~.icon {
                        color: $sb-active;
                    }
                }

                &::placeholder {
                    color: $edm-sa-color;
                }
            }

            button {
                border: none;
                background: transparent;
                @include pos-abs-b-r($b: rem-calc(5), $r: rem-calc(15));
                cursor: pointer;

                .send_icon {
                    font-size: rem-calc(20);
                    color: $sb-ic-txt-color;
                }
            }
        }
    }

    &.display {
        width: 19%;
    }
}