.body_page {
    height: 100vh;
    @import './header';

    .body_container {
        @include df;
        height: calc(100vh - rem-calc(60));

        @import '../components/sidebar/sidebar';

        .right_body {
            height: calc(100vh - rem-calc(60));
            width: calc(100% - rem-calc(200));
            padding: rem-calc(10);

            @import './copyright';
        }
    }
}