.page404 {
    height: 100vh;
    @include df(center, center);
    text-align: center;

    h1 {
        font-size: rem-calc(50);
        letter-spacing: rem-calc(10);
        font-family: $font-3;
    }

    h4 {
        color: #B1B1B1;
        font-size: rem-calc(20);
        letter-spacing: rem-calc(2);
        font-family: $font-3;
    }

    h5 {
        color: #C9C3C3;
        font-size: rem-calc(20);
    }

    h6 {
        color: #919191;
        font-size: rem-calc(15);
    }

    .retour {
        display: inline-block;
        margin-top: rem-calc(15);

        &:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}