/*********** les colors *****************/

// color basic
$color-1: #ff7b77;
$white: #FFFFFF;
$black: #000000;
$light: #B1B1B1;
$gray: #ddd;
$background-color: #F5F6FA;
$success-color: rgb(6, 161, 6);
$warning: #d4a005;

// sidebar color
$sb-active: #0288D1;
$sb-hover-color: #EF3E34;
// $sb-hover-color: #9FA5BC;
$sb-ic-txt-color: #3b3c41;

// EDM Color
$edm-blue-color: #1F3C7E;
$edm-sa-color: #B1B1B1;

/*********** les fonts *****************/
$font-1: 'font-1', serif;
$font-2: 'font-2', serif;
$font-3: 'font-3', serif;

/*********** les variables de calcul *****************/
$base-font-size: 16px !default;